@model WebApplication.ViewModels.Admin.RoomReservationsVM

@Html.HiddenFor(m => m.RoomId)
<h2>Calendar for room @Model.RoomId</h2>
<div id="calendar"></div>

<script>
    $(document).ready(function ()  
    {  
        var roomId = $("#RoomId").val();
   
        $('#calendar').fullCalendar({  
            header:  
            {
                left: 'prev,next today',  
                center: 'title',  
                right: ''
            },  
            buttonText: {  
                today: 'today',  
                month: 'month',  
                week: 'week',  
                day: 'day'  
            },

            dayClick: function (date, jsEvent, view, resourceObj) {
                location.href = '@Url.Action("MakeReservationAdmin","Admin", new {roomId = "calendarRoomId", accomodationDate = "calendarAccomodationDate" })'.replace("calendarRoomId", roomId).replace("calendarAccomodationDate", date.format()).replace("&amp;", "&");
            },
  
            events: function (start, end, timezone, callback)  
            {  
                $.ajax({
                    url: '/Admin/GetCalendarData',
                    type: "GET",
                    dataType: "JSON",
                    data: { roomId: roomId },
  
                    success: function (result)  
                    {  
                        var events = [];  
  
                        $.each(result, function (i, data)  
                        {
                            console.log(data);
                            console.log(moment(data.StartDate))
                            events.push(  
                           {  

                               title: data.Title,  
                                    description: data.Desc,
                                    start: data.StartDate,  
                               end: data.EndDate,  
                               backgroundColor: "#9501fc",  
                               borderColor: "#fc0101"  
                           });  
                        });  
                        debugger;
                        console.log(events);
                        callback(events);
                        $('.fc-time').hide();
                    }  
                });  
            },  
  
            eventRender: function (event, element)  
            {  
                element.qtip(  
                {  
                    content: event.description  
                });  
            },  
  
            editable: false  
        });  
}); 
</script>